# Feature Selection
## Load the train_reduced and test_reduced data from google drive

In [0]:
# Code to read csv file into Colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

## Import package

In [0]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.feature_selection import SelectKBest
import statsmodels.api as sm
import random

## Load train_reduced

The shape of train_reduced should be (68381, 523)

In [0]:
link = 'https://drive.google.com/open?id=18JdiygGsvo9ojuV-qWhn2V40HMMbwcjg'
fluff, id = link.split('=')
print (id) # Verify that you have everything after '='

18JdiygGsvo9ojuV-qWhn2V40HMMbwcjg

In [0]:
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('train_reduced_va.csv')  
df_train = pd.read_csv('train_reduced_va.csv')
print(df_train.shape)

(68381, 523)

## Load test_reduced

The shape of train_reduced should be (29307, 523)

In [0]:
link = 'https://drive.google.com/open?id=1FILBSURi1WGVoO-8VNu6i2D0LV3NAmqz'
fluff, id = link.split('=')
print (id) # Verify that you have everything after '='

1FILBSURi1WGVoO-8VNu6i2D0LV3NAmqz

In [0]:
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('test_reduced_va.csv')  
df_test = pd.read_csv('test_reduced_va.csv')
print(df_test.shape)

(29307, 523)

## Use train dataset to select the features
Rename the training data to df3 for avoiding reload the original dataset from the beginning.

In [0]:
df3 = df_train

Remove `ee` from the train data and create a new dataframe called df4

In [0]:
df4 = df3.loc[:,df3.columns != 'ee']
df4.head()

   ncat  oldmodel  ...  ltg_nt_strikes_ppt_20y  ltg_nt_events_ppt_20y
0     0    339.94  ...                0.080725               0.145985
1     0    248.77  ...                0.000000               0.000000
2     0    523.65  ...                0.131900               0.227342
3     0    213.16  ...                0.099774               0.170340
4     0    214.90  ...                0.000000               0.000000

[5 rows x 522 columns]

## Identify x and y and fit the OLS model
Keep `oldmodel` and other crime and lightning variables in x, `ncat` as y

In [0]:
x = df4.loc[:,df4.columns != 'ncat']
y = df4.loc[:,'ncat']
#Adding constant column of ones, mandatory for sm.OLS model
X_1 = sm.add_constant(x)
#Fitting sm.OLS model
model = sm.OLS(y,X_1).fit()
model.pvalues

const                      4.144667e-01
oldmodel                  2.172131e-154
cr_vio_s_1y                3.941105e-01
cr_murd_s_1y               7.421110e-01
cr_rape_s_1y               4.180180e-01
                              ...
ltg_nt_events_m_sq_20y     3.859618e-01
ltg_nt_strikes_pop_20y     2.774487e-01
ltg_nt_events_pop_20y      2.986849e-01
ltg_nt_strikes_ppt_20y     1.566920e-01
ltg_nt_events_ppt_20y      1.757171e-01
Length: 522, dtype: float64

## Loop over the p-value from the model and eliminate those insignificant variales(p-value > 0.05)

In [0]:
#Backward Elimination
random.seed(45)
cols = list(x.columns)
pmax = 1
while (len(cols)>0):
    p= []
    X_1 = x[cols]
    X_1 = sm.add_constant(X_1)
    model = sm.OLS(y,X_1).fit()
    p = pd.Series(model.pvalues.values[1:],index = cols)      
    pmax = max(p)
    feature_with_p_max = p.idxmax()
    if(pmax>0.05):
        cols.remove(feature_with_p_max)
    else:
        break
selected_features_BE = cols
print(selected_features_BE)

['oldmodel', 'cr_robb_s_1y', 'cr_agg_r_1y', 'cr_mtv_r_st_3y', 'cr_bur_r_3y', 'cr_lacy_r_3y', 'cr_mtv_r_3y', 'cr_robb_s_5y', 'cr_ppty_s_5y', 'cr_bur_s_5y', 'cr_agg_r_5y', 'cr_lacy_s_10y', 'cr_ppty_r_st_10y', 'cr_bur_r_st_10y', 'cr_mtv_r_st_10y', 'cr_ppty_r_nt_10y', 'cr_vio_r_10y', 'cr_ppty_r_10y', 'cr_murd_r_10y', 'cr_lacy_r_10y', 'cr_bur_r_st_20y', 'cr_lacy_r_st_20y', 'cr_lacy_r_20y', 'cr_mtv_r_20y', 'ltg_sm_events_3y', 'ltg_fa_events_3y', 'ltg_strikes_5y', 'ltg_wt_strikes_5y', 'ltg_wt_events_5y', 'ltg_strikes_10y', 'ltg_events_10y', 'ltg_fa_strikes_10y', 'ltg_wt_strikes_10y', 'ltg_nt_events_10y']

In [0]:
va_withold= selected_features_BE
len(va_withold)

34

### Extract from Train

In [0]:
# create indices
indices_withold = list(va_withold)
selected_withold = df_train.loc[:, indices_withold]

In [0]:
len(selected_withold.columns)

34

Selected total 34 features from the model

### Feature treatment (using winsorize to cut in 99th persentile)

In [0]:
## winsorize result_cr
from scipy import stats
for col in selected_withold.columns:
  selected_withold[col] = stats.mstats.winsorize(selected_withold[col], limits=[0.01,0.01], inplace=True) 

selected_withold.describe()

           oldmodel  cr_robb_s_1y  ...  ltg_wt_strikes_10y  ltg_nt_events_10y
count  68381.000000  68381.000000  ...        68381.000000       68381.000000
mean     271.770628     32.972866  ...            2.288647           0.000001
std       87.075278     80.331163  ...            5.307470           0.000002
min      143.380000      0.000000  ...            0.000000           0.000000
25%      209.440000      1.000000  ...            0.000000           0.000000
50%      253.140000      7.798894  ...            0.000000           0.000000
75%      313.960000     26.106575  ...            1.000000           0.000002
max      591.310000    475.000000  ...           28.000000           0.000008

[8 rows x 34 columns]

### Add `ncat` and `ee` to the new dataframe called selected_34, and write to csv file and rename the file name 'selected_34_tr.csv'.

In [0]:
## add ncat and ee and oldmodel in the result_lgt
selected_34 = selected_withold
selected_34['ncat'] = df4['ncat']
selected_34['oldmodel']=df4['oldmodel']
selected_34['ee']=df3['ee']
print(selected_34)

       oldmodel  cr_robb_s_1y  cr_agg_r_1y  ...  ltg_nt_events_10y  ncat      ee
0        339.94      1.000000     0.794118  ...           0.000002     0  1.0000
1        248.77      1.000000     0.923077  ...           0.000000     0  0.0438
2        523.65     11.006402     0.717986  ...           0.000002     0  0.7973
3        213.16    290.000000     0.730134  ...           0.000002     0  1.0000
4        214.90      1.000000     0.642857  ...           0.000000     0  1.0000
...         ...           ...          ...  ...                ...   ...     ...
68376    153.19    475.000000     0.534813  ...           0.000000   805  0.2137
68377    246.23     96.714373     0.584129  ...           0.000000   330  1.0000
68378    273.58    475.000000     0.534813  ...           0.000000  1373  0.9123
68379    195.45     91.000000     0.528428  ...           0.000000   275  0.8493
68380    235.98    475.000000     0.534813  ...           0.000000  1500  1.0000

[68381 rows x 36 columns]

In [0]:
## write the result_cr1 to csv
selected_34.to_csv('selected_34_tr.csv',index = False)

### Extract 34 selected features from test_reduced data and create a new dataframe with 34 features called df7

In [0]:
# create indices
indices_withold = list(va_withold)
selected_withold = df_test.loc[:, indices_withold]

### Feature treatment (using winsorize to cut in 99th persentile)

In [0]:
## winsorize result_cr
from scipy import stats
for col in selected_withold.columns:
  selected_withold[col] = stats.mstats.winsorize(selected_withold[col], limits=[0.01,0.01], inplace=True) 

selected_withold.describe()

           oldmodel  cr_robb_s_1y  ...  ltg_wt_strikes_10y  ltg_nt_events_10y
count  29307.000000  29307.000000  ...        29307.000000       2.930700e+04
mean     271.490837     32.676025  ...            2.270038       9.940629e-07
std       86.497666     79.683978  ...            5.298247       1.612642e-06
min      144.200000      0.000000  ...            0.000000       0.000000e+00
25%      209.460000      1.000000  ...            0.000000       0.000000e+00
50%      253.310000      7.767238  ...            0.000000       0.000000e+00
75%      313.605000     26.000000  ...            1.000000       2.123027e-06
max      591.960000    475.000000  ...           28.000000       7.707509e-06

[8 rows x 34 columns]

### Add `ncat` and `ee` to the new dataframe called selected_34, and write to csv file and rename the file name 'selected_34_te.csv'.

In [0]:
## add ncat and ee and oldmodel in the result_lgt
selected_34 = selected_withold
selected_34['ncat'] = df_test['ncat']
selected_34['oldmodel']=df_test['oldmodel']
selected_34['ee']=df_test['ee']
print(selected_34)

       oldmodel  cr_robb_s_1y  cr_agg_r_1y  ...  ltg_nt_events_10y   ncat      ee
0        252.23     22.000000     0.674699  ...           0.000002      0  0.3507
1        318.18    102.000000     0.619469  ...           0.000000      0  0.0027
2        414.08      0.000000     0.769231  ...           0.000002      0  0.1776
3        590.09     11.500701     0.717986  ...           0.000000      0  1.0000
4        214.92     11.000000     0.823899  ...           0.000000      0  1.0000
...         ...           ...          ...  ...                ...    ...     ...
29302    266.84    221.000000     0.528180  ...           0.000000  17705  1.0000
29303    228.90    475.000000     0.534813  ...           0.000000    375  1.0000
29304    167.57     29.960838     0.584129  ...           0.000000  36354  0.7753
29305    383.37     42.336611     0.584129  ...           0.000000  29653  1.0000
29306    269.83     29.241053     0.584129  ...           0.000000   5515  1.0000

[29307 rows x 36 columns]

In [0]:
## write the result_cr1 to csv
selected_34.to_csv('selected_34_te.csv',index = False)